/* Error: expected "{".
 *     ,
 * 180 | >>>>>>> feature/legislation
 *     |                            ^
 *     '
 *   assets\sass\layout\_mediaheader.scss 180:28  @import
 *   assets\sass\main.scss 18:9                   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 180 \2502  >>>>>>> feature/legislation\d\a     \2502                             ^\a     \2575 \a   assets\\sass\\layout\\_mediaheader.scss 180:28  @import\a   assets\\sass\\main.scss 18:9                   root stylesheet';
}
