@font-face{
  font-family:'Poppins';
  src: url('assets/fonts/Poppins-Italic.ttf');
  src: url('assets/fonts/Poppins-Light.ttf');
  src: url('assets/fonts/Poppins-Medium.ttf');
  src: url('assets/fonts/Poppins-Regular.ttf');
  src: url('assets/fonts/Poppins-Thin.ttf');
}
@font-face{
  font-family:'Sora';
  src: url('assets/fonts/Sora-Bold.ttf');
  src: url('assets/fonts/Sora-ExtraBold.ttf');
  src: url('assets/fonts/Sora-Medium.ttf');
  src: url('assets/fonts/Sora-Regular.ttf');
  src: url('assets/fonts/Sora-SemiBold.ttf');
  src: url('assets/fonts/Sora-Light.ttf');
  src: url('assets/fonts/Sora-ExtraLight.ttf');
}
