@import "../utils/variables";

@media (max-width: 680px){
    .header{
        background-size: contain;
        height: 100vh;
        li{
            display: block!important;
        }
        h1{
            text-align: center;
        }
    }
}
@media (max-width:680px){
  .contain-404{
    height: 45vh;
    h1{
      font-size: 4rem;
      padding:{
        left: 1rem;
      }
      h2{
        font-size: 2rem;
        padding:{
          left:1rem;
        }
        margin:{
          top: 0;
        }
      }
    }
  }
}
