@import "../utils/variables";

@media screen and (max-width:680px){
  .cause{
    display: flex;
    flex-wrap: wrap;
  }
  .causeDesktop{
    display: none;
  }
  .causeResponsive{
    display: block;
    text-align: center;
  }
  h1{
    text-align: center;
  }
}
.causeContent{
  p{
    width: 60%;
    }
  .encadre-legis{
    width: 35%;
    margin: none;
  }
}
