@import "../utils/variables";

@media screen and (max-width:680px){
  .centerCause{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .cause{
    display: flex;
    flex-wrap: wrap;
  }
  .causeDesktop{
    display: none;
  }
  .causeResponsive{
    display: flex;
    justify-content: center;
    text-align: center;
  }
  h1{
    text-align: center;
  }
}
.causeContent{
  display: flex;
  justify-content: center;
  p{
    width: 60%;
    }
  .encadre-legis{
    width: 35%;
    margin: 0;
  }
}
