@import "../utils/variables";

@media screen and (max-width:680px){
  .centerCause{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .cause{
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
  }
  .causeDesktop{
    display: none;
  }
  .causeResponsive{
    display: flex;
    justify-content: center;
    text-align: center;
  }
  h3{
    text-align: center;
    font-size: 1.2rem;
  }
  .causeContent{
    display: flex;
    justify-content: center;
    width: 100%;
    p{
      width: 60%;
      }
    .encadre-legis{
      width: 35%;
      margin: 0;
    }
  }
  // ici fin de media queries
}
