@media screen and (max-width: 993px){
    .footer{
        .footer-container{
            flex-direction: column;
            align-items: center;
            .footer-navigation{
                width: 100%;
            }
            .logo-footer{
                display: none;
            }
            .avis{
                margin: 5% 0;
            }
        }
    }
    
}

