@import "../utils/variables";
.centerCause{
  width: 150vh;
  margin: auto;
}
.cause{

  img{
    margin-top: 5rem;
  }
  .childcenter{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    p{
      text-align: right;
    }
    h3{
      width: 60%;
      text-align: right;
    }
    .causeContent{
      display: flex;
      justify-content: flex-end;
    }
  }
}
.causeContent{
  width: 30rem;
}
.causeDesktop{
  display:block;
}
.causeResponsive{
  display: none;
}
