@import "../utils/variables";

// Style de la page "Les chiffres des inégalitées"
.chiffres{  
    .container{
        
        .données{
            margin-top: 5%;
            .articles{
                width: 70%;
                margin: 0 auto 0 auto;
                p{
                    font-size: 1.2rem;
                    color: white;
                    font-weight: lighter;
                }
            }
        }      
    }
    
        .tableau{
            display: flex;
            justify-content: center;
            margin-top: 5%;
            background-color: white;
            img{
                width: 60%;           
            }
        }
    }
    .sources{
        text-decoration: none;    
        margin: 0 0 0 auto; 
        font-size: smaller;  
        color: black;
        &:hover{
            color: $greenLight;
        }
    }
   
