@import "../utils/variables";

.footer{
    position: relative;
    margin-top: 5rem;
    background-color: $purpleDark;
    height: 40vh;
    .footer-navigation{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        text-decoration: none;
        li{ 
            list-style: none;
            padding: 0.5rem;
        }
    }
    .logo-footer{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.6;
    }
}