@import "../utils/variables";

.header{
 
  h1{
    color: white;
    width: 50%;
    position: absolute;
    top: 50%;
  }
  .logo{
    width: 8rem;
  }
  .navigation{
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
  }
  .item-navigation{
    padding-top: 2rem;
    a{
      text-decoration: none;
      color: white;
      &:hover{
        color: $greenLight;
      }
    }
    li{
      display: inline;
      padding: {
        left: 2rem;
      }
    }
  }
}
