.header{
  background-image: url('assets/images/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  h1{
    color: white;
    width: 50%;
    position: absolute;
    top: 50%;
  }
  img{
    width: 8rem;
  }
  .navigation{
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
  }
  .item-navigation{
    padding-top: 2rem;
  }
  a{
    text-decoration: none;
    color: white;
  }
  li{
    display: inline;
    padding: {
      left: 2rem;
    }
  }
}
