@import "../utils/variables";

.header{
  background-image: url('assets/images/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  h1{
    color: white;
    width: 50%;
    position: absolute;
    top: 50%;
  }
  img{
    width: 8rem;
  }
  .navigation{
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
  }
  .item-navigation{
    padding-top: 2rem;
    a{
      position: relative;
      text-decoration: none;
      color: white;
      &:hover{
        color: $greenLight;
        &::after{
          content: "";
          width: 50px;
          height: 5px;
          position: absolute;
          left: 0;
          bottom: -10px;
        }
      }
    }
    li{
      display: inline;
      padding: {
        left: 2rem;
      }
    }
  }
}
