@import "../utils/variables";

.front-page{
    h1{
        margin: {
            bottom: 3rem;
        }
        color: $greenLight;
        text-align: center;
        font-size: 2rem;
    }
}

.encadre-introduction-home{
    position: relative;
    border: 2px solid $purpleDark;
    margin: {
        top: 8rem;
        bottom: 8rem;
    }
    display: flex;
    padding: {
        top: 2rem;
        bottom: 2rem;
        left: 2rem;
        right: 2rem;
    }
    img{
        width: 15rem;
        padding-right: 2rem;
    }
    p{
        width: 75%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
    }
}

.presentation-home{
    margin: {
        top: 8rem;
        bottom: 8rem;
    }
    p{
        width: 75%;
        text-align: center;
        margin-bottom: 2rem;
    }
    .presentation-home-image{
        text-align: center;
    }
}

.pages-home{
    margin: {
        top: 8rem;
        bottom: 8rem;
    }
    .img-page-home{
        width: 10rem;
    }
    h2{
        text-align: center;
        font-size: 1.5rem;
        color: $greenDark;
        margin: {
            top: 5rem;
            bottom: 3rem;
        }
    }
    p{
        padding: {
            left: 3rem;
            right: 3rem;
        }
        margin: {
            top: 2rem;
            bottom: 2rem;
        }
    width: 50%;    
    }
    button{
        background-color: $purpleLight;
        color: $greenLight;
        width: 10rem;
        border: {
            color: $purpleLight;
            radius: 10px;
        }
        &:hover{
            background-color: $purpleMedium;
            border-color: $purpleMedium;
        }
    }
}
