@import "../utils/variables";

.legislation{
    .container{
        position: relative;
        .encadre-legis{
            border: solid 5px $greenLight;
            border: {
                bottom: none;
                right: none;
            }
            width: 90%;
            height: 40vh;
            margin: auto;
        }
        
    }
    
}


.legislation-content{
    width: 75%;
    margin: auto;
    li{
        color: $greenLight;
        font-weight: lighter;
    }
    a{
        text-decoration: none;
    }
}