@import "../utils/variables";

<<<<<<< HEAD
.legislation{
    .container{
        position: relative;
    }
    
}
=======
>>>>>>> features/Julie
.encadre-legis{
    border: solid 3px $greenLight;
    border: {
        bottom: none;
        right: none;
    }
    width: 90%;
    height: 40vh;
    margin: auto;
}
<<<<<<< HEAD

.legislation-content{
    width: 75%;
    margin: auto;
    li{
        color: $greenLight;
        font-weight: lighter;
    }
    a{
        text-decoration: none;
    }
}
=======
>>>>>>> features/Julie
